[2016-11-22 04:56] reliq opened #1 "Emptiness"
@austintoddj please add a file to this repository so I may fork.

[2016-11-22 12:49] austintoddj commented on #1
Done.

[2016-11-22 14:40] reliq commented on #1
Thanks.

[2016-11-22 14:40] #1 closed

[2016-11-30 16:00] austintoddj opened #7 "Class PostFormFields not found"
**UPDATE:** The error below does NOT appear when installing Canvas through `composer create-project cnvs/canvas`. The error popped up for me when doing a `git clone ...`. Perhaps this has to do with not releasing a tag for it yet?

When running the initial `composer install` in [Canvas](https://github.com/cnvs/canvas), the following error comes up:

<img width="1439" alt="screen shot 2016-11-30 at

[2016-11-30 16:51] reliq commented on #7
Please run `composer update` instead.

`composer install` installs packages from *composer.lock*. **easel** is new, so lock file is outdated.

`composer update` reads the *composer.json*, downloads the latest packages according to requirements, and *updates composer.lock*.

[2016-11-30 20:03] austintoddj commented on #7
Fixed with [a5c7967b](https://github.com/cnvs/canvas/commit/a5c7967b398d79d74a70a364b3cb9a51b1c8dba9)

[2016-11-30 20:03] #7 closed

[2016-12-01 13:40] austintoddj opened #8 "Canvas:update Command"
I'd like to see a new command under the name of `canvas:update` where users can upgrade their installation of Canvas up to the latest release. This could potentially extract lines 50-103 in `Install.php`, since upon a new install, all assets will need to be published for the app to work.

[2016-12-01 13:45] austintoddj opened #9 "canvas:install"
Like I mentioned in #8, lines 50-103 in `Install.php` seem to be out of place, since a completely new user will be confused as to what needs to be published, or why it isn't done for them, or what granular assets to publish. If there is a way for us to either publish them all or not publish them, I think it would be less confusing.

Also, and this is a user-flow thing, I want the install to be as

[2016-12-01 15:59] reliq commented on #9
This can be updated to only publish *config*, *migrations*, and *public* on install.

Views are optional, I'm thinking a separate command for this, say `canvas::views`

[2016-12-01 16:00] austintoddj commented on #9
I like that idea. Let's go ahead with that.

[2016-12-01 16:02] reliq commented on #8
I'll look into this. Needs a bit more thought also.

[2016-12-01 17:43] reliq commented on #9
Cool 👍

[2016-12-01 18:04] #9 closed

[2016-12-02 01:58] austintoddj opened #10 "Missing seeds from canvas:install"
On the `develop` branch, the following lines were removed from the install command:

[code]

Now when trying to install on a blank database, errors pop stating that there is no users table, because we haven't migrated anything. Was this something you planned on re-adding after you refactored the command?

[2016-12-02 04:30] reliq commented on #10
@austintoddj yes. I should have added back those lines. I'll do it now.

[2016-12-02 04:32] #10 closed

[2016-12-02 13:21] austintoddj opened #11 "Seeding bug on fresh install"
On the `develop` branch, with everything set up and working as it should, a fresh `canvas:install` will not seed:

 * `posts` table
* `tags` table
* `post_tag` table

[2016-12-02 13:27] austintoddj opened #12 "Current version installed"
During `canvas:install`, line 109 of `CanvasCommand.php` sets the installed version of Canvas in the database from the blog config file. It looks however like we have config file in Canvas, and a config file in Easel, somehow causing the end result of the version stored in the database being `v2.2.x` at the time of this writing. Is it perhaps just not merging the config files properly?

[2016-12-02 13:51] austintoddj commented on #11
Line 78-83 of `Install.php` no longer need to be surrounded by the if() statement, since that was a simple workaround to help the old application ignore seeding if the tables already existed, trying to work on an upgrade process back then. So when we remove those, we still get the following error:

[code]

Thoughts?

[2016-12-02 14:07] reliq commented on #12
@austintoddj I set that to a general version. I think we have to devise a way of getting the current version installed from composer instead of relying on setting this by hand. It feels like this should be automatic since composer always knows.

[2016-12-02 14:09] austintoddj commented on #12
I agree. The only reason I was hardcoding it before was because I couldn't think of a better way to grab it. I'm all for automation.

[2016-12-02 14:23] reliq commented on #11
This is fixed by https://github.com/cnvs/canvas/commit/1b100279f466ee6692bc571981ae87671e366560.

[2016-12-04 23:55] #11 closed

[2016-12-04 23:58] austintoddj opened #14 "Unit Test Integration"
The full suite of unit tests are kept in the Canvas repo, but I believe they really belong over here in Easel. However you see fit to integrate our current tests back into the project, go for it @erikgall.

[2016-12-05 14:26] austintoddj opened #16 "Public assets missing"
@reliq Looks like during the extraction of the core from Canvas to Easel, some public assets didn't get updated. The Not Found errors from the backend of the site look like this:

![screen shot 2016-12-05 at 8 24 00 am](https://cloud.githubusercontent.com/assets/8037011/20888402/6eb3b368-bac4-11e6-9d30-930e12f418ad.png)

[2016-12-05 14:47] reliq commented on #16
@austintoddj I'll have a look when I get a chance.

[2016-12-06 01:09] reliq commented on #16
@austintoddj I didn't get missing _map_ file errors. I found that only _select.png_ was missing.

Please update _easel_ and ensure that core public files are published: `php artisan canvas:publish:assets -f`.

[2016-12-06 01:15] austintoddj commented on #16
Do the publishing of core public files only need to be done during development like this? Or is there another reason for the publishing commands?

[2016-12-06 02:39] reliq commented on #16
They can be used at any time by us or the end-user.

Note though that existing files are only overwritten if the `--force` option `-f` is set.

[2016-12-06 03:24] #16 closed

[2016-12-06 13:39] austintoddj commented on #12
Fixed with c774f1f3553bfa801daa466ff28bb4cba418ccc2

Fetching of the latest release is done via the GitHub API in the `canvas:install` command. This should safeguard us from having users hit the API rate limit because they'll essentially only be using this command one time.

[2016-12-06 13:39] #12 closed

[2016-12-06 23:16] Jeroen-G commented on #8
I suppose you mean update the non-packaged stuff. If it's a git repo it is fairly easy. Otherwise you could perhaps download the update and check if the files are changed by the user before overwriting.

[2016-12-09 14:33] austintoddj commented on #8
@reliq
Ran the update, looks nice! I assume the things I ran into are only occurring because we're just in development, with adjoining directories and such. The first thing that caught my eye was:

- Package "cnvs/easel" listed for update is not installed. Ignoring.
- Then the ambiguous class resolution warning, which I'm assuming end users will never see because there won't be an autoloading conf

[2016-12-09 16:23] reliq commented on #8
@austintoddj you're right! Points 1 and 3 are related and are because we aren't actually using the composer version in development.

End users may see the *ambiguous class resolution* warnings because of migration files. This is not a problem.

The first question is a confirmation. The second could be omitted. I will make the change.

[2016-12-09 16:26] austintoddj commented on #8
Awesome thanks for addressing that @reliq. Understandable about the confirmation question. Wish I had a way to get around the warning, it's just ugly and gives the sense of something possibly went wrong. But if nothing can be done..

[2016-12-09 16:53] reliq commented on #8
You shouldn't see the warnings in the latest update.

[2016-12-09 19:15] austintoddj commented on #8
Awesome @reliq, you're the man! 👍 Great thought with the `--quiet` flag. I think a final end-user who creates a blog from scratch with this will never see this warning because they'll only ever have 1 set of migrations published. And that'll be what Easel publishes for them. That sounds correct right?

[2016-12-09 20:41] reliq commented on #8
@austintoddj cool. Composer may still warn about ambiguity, especially after the migrations have been published from Easel. Remember this is because the autoloader sees both the published versions and the original versions. But as I was saying earlier we can ignore those warnings.

[2016-12-09 20:52] austintoddj commented on #8
Sorry to keep beating this dead horse @reliq, but found this: https://blog.liplex.de/getting-rid-of-ambiguous-class-resolution-warnings/

What are your thoughts on that?

[2016-12-09 21:20] reliq commented on #8
@austintoddj I don't think it's safe for us to delete any folders. So that method wouldn't work for us.

[2016-12-09 22:43] austintoddj commented on #8
Ok. I'll keep looking for a solution, it'll give me something to do till we get these tests in place. Thanks for checking the link out.

[2016-12-10 01:42] reliq commented on #8
@austintoddj The `--quiet` flag I added actually suppresses those messages so you don't have to find another solution..

[2016-12-11 01:34] austintoddj commented on #8
@reliq Thanks! Yeah saw that, and you're right, the end user won't really see that. The only reason I saw that was because I was doing my own composer dump-autoload, which made the warning pop. Your flag will mitigate this issue for normal users 👍

[2016-12-14 13:47] austintoddj commented on #14
Right now, @reliq has gotten the `develop` branch functioning properly with the various commands, such as `canvas:update`, which is a HUGE feature. Biggest thing we need to watch out for when re-integrating these unit tests is that we don't break that branch without being able to get it back to where it is now.

[2016-12-14 20:01] erikgall commented on #14
@austintoddj So we don't break the `develop` branch, we can create another branch off of that and merge it back in periodically. I'll get on this as soon as I can.. I have a few things I'm wrapping up today/tomorrow for work and should have some time to hop over to canvas stuff on Friday.

[2016-12-14 20:03] austintoddj commented on #14
Good thought @erikgall. So far @talvbansal and @reliq have taken a look at the integration, so any help you can lend there would be fantastic. As long as we are all on the same page while we do this, I'm up for being as efficient as possible. And hey, maybe we can all learn something out of this. 👍

[2016-12-15 12:54] austintoddj commented on #8
Resolved with commit b7c826c5b20f6180ade5ba1f9c9464bdf790a218

[2016-12-15 12:54] #8 closed

[2016-12-15 12:55] austintoddj commented on #14
This is not nearly as important as getting the tests integrated back into the project in the first place, but @talvbansal is the speed of the tests being bogged down because the app essentially has to be built/rebuilt in each class?

[2016-12-15 13:00] talvbansal commented on #14
The real bottleneck at the moment is that all of the assets need to be "published" in order for the views to be rendered correctly so for every functional test they are being copied again and again on the disk slowing things down substantially.

 I wrote a comment about a new trait i had to write:
[code]

[2016-12-15 13:08] austintoddj commented on #14
Ah yes I saw that. That's a good explanation. And that's something that can be addressed at a later time, or if someone else has any experience in that. But so far you're killin' it! 👍

[2016-12-15 14:14] austintoddj opened #27 "Error on adding a post with the same slug"
Source: https://github.com/cnvs/canvas/issues/276

On creating a post with a slug that already exists a database error occurs, and the entered data is completely lost.

**To Reproduce: Create a new post with existing slug**

<img width="734" alt="251d9cce-c27a-11e6-96ae-214f1401d7e2" src="https://cloud.githubusercontent.com/assets/8037011/21227192/771e2b8c-c29e-11e6-956c-0436f5b96efa.png">

**Outp

[2016-12-15 14:41] #27 closed

[2016-12-15 19:09] mabd91 opened #28 "Tag Page Query Speed"
Source: [cnvs/canvas#277](https://github.com/cnvs/canvas/issues/277)

In src/Jobs/BlogIndexData.php

Improve query performance by using the Tag's 'id' column instead of the Tag's 'tag' column

[code]

[2016-12-19 09:17] talvbansal commented on #14
Just thinking about this and looking for input, do we think that the integration tests should be a part of the canvas repo since we're testing the whole application being run or think that they're better off remaining here?

[2016-12-19 13:04] austintoddj commented on #14
Honestly that was my thought a while ago, but never went anywhere with it @talvbansal. It almost seems like ALL the tests could have been part of the canvas repo, since they all deal with testing the app as a whole. I know that isn't really best practices for TDD or anything, but do you know what I mean?

[2016-12-19 13:19] talvbansal commented on #14
I feel like the unit tests belong here but the functional tests belong as part of the main canvas repo. Looking forward to hearing what others think.

[2016-12-19 18:36] reliq commented on #14
I agree with this approach.

[2016-12-19 18:37] austintoddj commented on #14
Does this add another level of complexity to the the testing integration @talvbansal? Or does it actually simplify it?

[2016-12-20 12:37] talvbansal commented on #14
@austintoddj removing the functional tests from Easel has us at another sticking point

Theres a Class called `EloquentTestCase` which is part of the `EloquentPHP` package which contains the following code within:
[code]

The `Easel` package the does not have a `bootstrap/app.php` file.

I've tried looking at some alternatives to get the `bootstrap/app.php` to load using path helpers, but since al

[2016-12-20 15:08] austintoddj commented on #14
After pulling `develop` and running the tests, the first thing that hits me is this:

![screen shot 2016-12-20 at 9 07 25 am](https://cloud.githubusercontent.com/assets/8037011/21355490/d06000e6-c693-11e6-900c-9d4538f1e77a.png)

 Thoughts @talvbansal?

[2016-12-20 15:42] talvbansal commented on #14
So the warnings are because we've removed the test annotations from the Model classes. Those won't go away unless we remove the classes.

Not 100% on the login error I'll check it when I get in 😀

[2016-12-20 16:18] talvbansal commented on #14
Fixed login issue :)

[2016-12-20 16:33] austintoddj commented on #14
What was the fix @talvbansal?

[2016-12-21 01:19] austintoddj commented on #14
Alright, great work @talvbansal and @reliq!

So TravisCI is still throwing this error for the `develop` branch on Canvas, not sure what we could do to fix this.

<img width="979" alt="screen shot 2016-12-20 at 7 16 14 pm" src="https://cloud.githubusercontent.com/assets/8037011/21374039/3058e24c-c6e9-11e6-96cf-d5fd96e0b8a5.png">

But other than that, we're green on Easel tests. From this point forw

[2016-12-21 01:38] austintoddj opened #38 "canvas:install getTablePrefix() bug"
Am I the only one getting this error?

<img width="623" alt="screen shot 2016-12-20 at 7 37 03 pm" src="https://cloud.githubusercontent.com/assets/8037011/21374364/d02a331e-c6eb-11e6-8d99-8ba64bdc7076.png">

Every time I try to run `canvas:install` or `canvas:update` from the `develop` branch I hit this error.

[2016-12-21 03:39] reliq commented on #38
This is related to the version of scout that was being used. I added a catch for the exception in a previous commit in case it arises again.

[2016-12-21 03:41] reliq commented on #14
Cool.

@talvbansal can we delete the `feature/tests` branch on Easel now?

[2016-12-21 03:41] austintoddj commented on #38
Awesome thanks @reliq!

[2016-12-21 14:04] austintoddj commented on #38
Yeah this error is so random it's maddening. 😠

[2016-12-21 19:54] austintoddj opened #39 "Upgrade to Laravel Scout v2.*"
Laravel Scout v2.* needs to be updated in the `composer.json` file. This will have an impact on the TNTSearch package.

[2016-12-21 21:43] reliq opened #41 "Route names everywhere"
We should refer all links throughout canvas by route names instead of raw paths. This would allow canvas to be more configurable; one may then opt to have canvas serve from a path other than the main site url.

eg: *mysite.com/**blog*** or *mysite.com/**articles***.

This configuration is supported since @8274eb9fc892a5c1e7e7ae2a76ee867ce76e1631. However, all or most url's in canvas are currently

[2016-12-21 22:04] austintoddj commented on #41
Good thought @reliq. So now it's just a matter of finding all the links in the app and update them to use the named route?

[2016-12-22 01:33] reliq commented on #41
@austintoddj yes

[2016-12-22 12:44] austintoddj commented on #38
Ran the installer this morning after last night's commits. Still hit the error 3 different times. The 4th run of the installer finally let everything go through.
Run 1:
![screen shot 2016-12-22 at 6 42 51 am](https://cloud.githubusercontent.com/assets/8037011/21425999/14a6e6be-c812-11e6-8901-4243145aef5f.png)

Run 2:
![screen shot 2016-12-22 at 6 43 01 am](https://cloud.githubusercontent.com/asset

[2016-12-22 12:53] austintoddj opened #42 "Media Manager Internal Server Error"
Don't know if you've seen this issue on Easel yet, but on a fresh install of Canvas, the Media Manager doesn't seem to be functional. Tried adding a folder, but it won't save a new one. Trying to upload an image results in an `Internal Server Error` message.

[2016-12-22 14:04] austintoddj commented on #38
Ok, so the buggy line is:

- `vendor/teamtnt/laravel-scout-tntsearch-driver/Engines/TNTSearchEngine.php` line 199

An example of the misbehavior is the following image:

![screen shot 2016-12-22 at 8 03 13 am](https://cloud.githubusercontent.com/assets/8037011/21427965/259261f0-c81d-11e6-9051-e702260d83d4.png)

Seems like you have to index the thing once, hit the error, and then re-run to pass it.

[2016-12-22 14:49] talvbansal commented on #42
Fixed on cnvs/canvas develop branch, some removed the storage/app/public folder that's needed to be linked to public/storage.

[2016-12-22 14:49] #42 closed

[2016-12-22 15:30] reliq commented on #38
Good catch @austintoddj. I had stopped seeing the error. Weird

[2016-12-22 15:32] reliq commented on #42
@austintoddj remember the installer does the linking so maybe this is related to the installation not going smoothly.

[2016-12-22 15:33] austintoddj commented on #42
@reliq You're right, totally forgot about that. Perhaps that's the source of this issue @talvbansal?

[2016-12-22 15:43] talvbansal commented on #42
Its not, the link:storage command makes a symlink bwtween from a storage/app/public folder and public storage, if storage/app/public doesn't exist the link cant be created.

Also if you look at the laravel/laravel repo that folder exists and the .gitignore file is as per my commit

[2016-12-22 18:10] austintoddj commented on #14
Resolved with https://github.com/cnvs/canvas/commit/cb22daa816a1d3de3658370091f567df24a583c9

The problem was that for the TravisCI tests, we never actually ran `php artisan canvas:install`, meaning we never published the assets, config or views.

[2016-12-22 18:10] #14 closed

[2016-12-22 21:15] nticaric commented on #38
https://github.com/teamtnt/laravel-scout-tntsearch-driver/releases/tag/v2.0.0 hopefully this version fixes that

[2016-12-22 21:16] austintoddj commented on #38
Thank you for doing this @nticaric! I'll give it a shot shortly. @reliq and @talvbansal if you guys want to test it on your end too that'd be good.

@nticaric Did this 2.0.0 release include support for Scout v2.0?

[2016-12-23 01:27] austintoddj commented on #38
@nticaric Looks like with the latest release pulled in, the installer simply hangs indefinitely, never completing anything. Perhaps there is a tweak to be made?

[2016-12-23 01:39] austintoddj commented on #38
Ran the installer with the latest update and it worked! Thanks @nticaric!!

[2016-12-23 03:40] #28 closed

[2016-12-23 03:48] austintoddj commented on #39
Resolved with commit: 0f7cef81948d98653e8e37247d5ce2d02c098247

[2016-12-23 03:48] #39 closed

[2016-12-23 03:58] austintoddj opened #43 "Publish view files conditional"
On line 75 on `Install.php`, there's an *if* statement only allowing the publishing of views if a flag is passed through with the command. In my experience running the past dozen installs, the view files are never published on `canvas:install`. I believe the config files and asset files publish just fine, but the view files however remain excluded.

My question is, can we remove this conditional i

[2016-12-23 04:00] austintoddj commented on #41
@reliq Since you know more of what you were envisioning with this feature, would you care to update the links you're referring to throughout the project? Just want to make sure I don't miss something you're thinking of.

[2016-12-23 04:25] austintoddj commented on #38
Resolved with commit: https://github.com/cnvs/easel/commit/0f7cef81948d98653e8e37247d5ce2d02c098247

[2016-12-23 04:25] #38 closed

[2016-12-23 04:41] reliq commented on #43
@austintoddj it is not imperative that the views are published as views are loaded directly from the package. The ability to publish views is there for when the end-user wants to *customize* a package's view(s).

---

When Laravel attempts to resolve a package's views, by design, it checks the `views/vendor` folder to see if a customized version of said view exists, if it doesn't exist it loads th

[2016-12-23 04:42] reliq commented on #41
@austintoddj alright, but this will take a while.

[2016-12-23 04:50] austintoddj commented on #43
Ok that's a good explanation. But if you run through the steps I detailed above, do you see the same errors that I do? I am only able to solve it by manually running canvas:publish:views

[2016-12-23 06:16] reliq commented on #43
On a fresh install I'm stuck at `✘ SQLSTATE[HY000] [14] unable to open database file` at the "Creating your database..." stage. This seems unrelated.

Maybe it's my setup, I'll try again later.

[2016-12-23 14:30] austintoddj commented on #43
Hm odd. Let me know if that error persists.

[2016-12-26 15:56] austintoddj commented on #43
@reliq Just did a couple fresh installs, didn't run into that error. Are you still hitting it?

[2016-12-27 22:01] reliq commented on #43
@austintoddj haven't seen it since.

[2016-12-27 22:34] austintoddj commented on #43
Good, glad it isn't persisting. Would you be able to take a quick look at the issue described above with the steps I listed out?

[2016-12-28 02:39] austintoddj commented on #41
Thanks for doing this @reliq 👍

[2016-12-28 13:48] reliq commented on #41
@austintoddj I ran into one instance which would prevent allowing users to modify the `admin` routes. This is with `TalvBansal\MediaManager\Routes\MediaRoutes`. The url's are hard-coded in JS and do not seem customizable.

As you would see in `RouteHelper.php` on line 62, there is provision to allow customizing admin routes but  because of the foreseen errors regarding the hard-coded media manager

[2016-12-28 13:52] austintoddj commented on #41
Ah, I did not think of that. I really liked the direction you were going with the routes because eventually I'd love to see https://github.com/cnvs/canvas/pull/171 as a new feature.

@talvbansal, any way we can work with the Media Manager routes that you see?

[2016-12-28 14:05] reliq opened #45 "Modify tables and Migrations to allow Seamless Integration into any Laravel Project"
Since canvas core (Easel) is now a package that can essentially be brought into any Laravel project. I suggest we manually prefix canvas specific tables to allow a more seamless integration with any existing architecture.

eg.
- settings --> canvas_settings
- posts --> canvas_posts

*NB*: I used _manual_ to mean that we would *not* use the Laravel global table prefixing mechanism (discussed here:

[2016-12-28 14:31] austintoddj commented on #45
I like this idea. No problem with heading in a direction that would make it more accessible to a greater audience of people. 👍

[2016-12-28 16:52] #41 closed

[2016-12-28 20:48] austintoddj opened #46 "404 Error on Tag Update"
The following steps will produce a 404 error:

- Logging in as a user
- Visit the `/admin/tag` page
- Click the Edit icon for any tag
- Click the Save button on the edit tag page

This is only happening with Tags, not Users or Posts.

[2016-12-28 20:57] reliq commented on #46
I'll have a look.

[2016-12-29 13:17] austintoddj commented on #46
Thanks for knocking this out @talvbansal!

[2016-12-29 13:17] #46 closed

[2016-12-29 13:22] austintoddj opened #47 "Custom route configuration"
Per our discussion in #41:

@reliq brought up the point:

@talvbansal Can you think of any way we could let the Media Manager play nicely with custom route configuration in Canvas?

[2016-12-29 13:36] austintoddj commented on #43
@reliq Here is a full guide to how I can reproduce the issue we were discussing last night.

**Complete steps to reproduce the issue:**

- Clone a fresh copy of Canvas: `git clone git@github.com:cnvs/canvas.git`
- Switch to the develop branch: `git flow init`
- Run composer install: `composer install`
- Create a new `.env` file: `cp .env.example .env`
- Install: `php artisan canvas:install`
- Go t

[2016-12-29 13:42] talvbansal commented on #47
I'll have to have a longer think about this, as @reliq rightly says the route names are coded in JS and then webpacked and therefore (at least to me) not going to be configurable using php.

Even if i added route names to the `TalvBansal\MediaManager\Routes\MediaRoutes` file I dont think tat the javascript would have no way of picking those route names up?

I'm definitely open to suggestion on thi

[2016-12-29 14:01] austintoddj opened #48 "Sidebar navigation non-expanded elements"
**Steps to reproduce the issue**

- As a logged in user, go to the `/admin/post` page
- The *Posts* item in the sidebar _should_ still be expanded, but it isn't at this time
- This is how it should look:

![screen shot 2016-12-29 at 7 54 41 am](https://cloud.githubusercontent.com/assets/8037011/21545347/a0291eb6-cd9c-11e6-9a52-6a24e140e6c1.png)

The _Tags_ and _Users_ sidebar items are also acting

[2016-12-30 04:00] reliq commented on #43
@austintoddj the error seems to have been due to an incorrect class reference. commit https://github.com/cnvs/easel/commit/34026c466ed5b35f6276c15784b7d04791e0fcba, fixes this.

I have no idea why the class wouldn't be exactly the same whether views are published or not. It could be related to the _JS validation_ plugin, but I have no idea how that works so this statement is a blind assumption.

[2016-12-30 04:04] austintoddj commented on #43
Thanks for taking a look at this @reliq. I'll check it out first thing tomorrow morning.

[2016-12-30 14:58] austintoddj commented on #43
Since the installer is the first thing any user will hit when grabbing Canvas, and it will *never be run again*, I think we're ok to simply publish views with the installation.

[2016-12-30 15:58] #48 closed

[2017-01-01 04:23] reliq commented on #43
@austintoddj it is for this exact reason why we shouldn't publish views on install.

If we publish an update which changes in a particular view file; the user would need to publish views to get the updated view files, losing whatever custom view changes they made themselves.

[2017-01-01 04:28] austintoddj commented on #43
@reliq I guess I don't see what you mean here. The commit I pushed makes it so the issue doesn't appear anymore, don't know how to make it so we don't see the error and still have the same install command you set up.

[2017-01-02 21:58] reliq commented on #43
OK. I'll have a look at it.

[2017-01-03 01:18] austintoddj commented on #43
@reliq your last commit, did that change the behavior on your end? Just pulled down the latest and ran a fresh install, didn't see any different behavior. For instance on the dashboard home page when a user logs in, click the Publish button for a quick draft post and the page should scroll to those field errors. Not currently seeing the scroll happening.

[2017-01-03 02:45] austintoddj commented on #43
Never mind @reliq! Found my error. Super simple. Going to make the change and be done with this issue 👍

[2017-01-03 03:50] austintoddj opened #52 "Enabling maintenance mode HTTP Exception"
When enabling maintenance mode from the `admin/tools` page, you will hit the following error when trying to access the front page of the blog in a Private/Incognito browser window:

<img width="994" alt="screen shot 2017-01-02 at 9 48 23 pm" src="https://cloud.githubusercontent.com/assets/8037011/21599632/72cee63e-d135-11e6-951d-f0a616c02373.png">

[2017-01-03 03:51] austintoddj commented on #45
Looks good here @reliq! Thanks for the addition!

[2017-01-03 03:52] austintoddj commented on #47
@reliq Is this something that will prevent our v3.0.0 release? If not, I'll move this discussion off the current release schedule and we can further explore our options on it.

[2017-01-03 05:27] reliq commented on #43
@austintoddj that last commit you did (https://github.com/cnvs/easel/commit/9056c8b5fd25282fdb51f3145cfd69b044ea1871), is the exact opposite and actually undid the fix (https://github.com/cnvs/easel/commit/8a227816b98f5653d50658e76038230a6f1eec97).

`jsvalidation/bootstrap.php` is a third party file which should be published via its own provider to prevent errors such as the ones we're currently h

[2017-01-03 05:32] reliq commented on #47
@austintoddj we could leave it out for now since the config to change the admin routes is not currently being published (in `config/blog.php`).

[2017-01-03 12:45] austintoddj commented on #45
@reliq With this change, a few things broke on the backend. Saving a new post either through the quick draft section on the home page or just adding a new post on the Posts page throws this error:

<img width="999" alt="screen shot 2017-01-03 at 6 41 46 am" src="https://cloud.githubusercontent.com/assets/8037011/21608108/0d7988de-d180-11e6-9439-b5093c88f83a.png">

And saving a new tag throws this

[2017-01-03 14:01] austintoddj commented on #45
Should be all fixed up now, just had some spots where the `CanvasHelper::TABLES` constant needed to be called. 👍

[2017-01-03 14:01] #45 closed

[2017-01-03 14:13] austintoddj commented on #52
@reliq I believe this may have something to do with how routes are handled now. Could you take a look at `src/Http/Middleware/CheckForMaintenanceMode.php` and let me know what you think?

The gist of what is supposed to happen is whoever enables Maintenance Mode on the site should have their IP whitelisted and be allowed to view the entirety of the site, because they're an Admin. Everyone else sho

[2017-01-03 14:13] reliq commented on #45
@austintoddj cool.

[2017-01-03 14:14] reliq commented on #52
Ok @austintoddj I will have a look.

[2017-01-03 16:20] talvbansal commented on #52
This is because the `errors.503` view now sits under the canvas namespace : `canvas::errors.503`. I'm not sure how you can make laravel use namespaced view for errors but we can fix this quite easily by bringing those error views back into the canvas repo

[2017-01-03 16:22] austintoddj commented on #52
Sounds fine to me. Thoughts @reliq?

[2017-01-03 18:04] austintoddj commented on #43
Fixed with https://github.com/cnvs/easel/commit/3485103ecafefcda50f53760074baadb1d37ddb0

[2017-01-03 18:04] #43 closed

[2017-01-03 20:18] austintoddj commented on #52
This may not be the best way to go about it, don't know if it will break other features in the process, but commenting out 1 line and writing a new one in `CheckForMaintenanceMode.php` makes this work. Let me know @talvbansal or @reliq if this is a bad idea:

[code]

[2017-01-04 00:01] reliq commented on #52
@austintoddj since `404` errors are handled by the `App\Exceptions\Handler.php` in the main _canvas_ repo, I think it would be more consistent to apply the fix there. i.e. the following:

[code]

I added this here: https://github.com/cnvs/canvas/commit/8089554547e18d4ed804be0a165e8b36431bdaef

[2017-01-04 00:03] austintoddj commented on #52
Awesome thanks for sending that through @reliq!

[2017-01-04 04:27] #52 closed

[2017-01-05 21:05] CesaRamirez opened #54 "On profile don't show Website value"
On view profile don't show value for field website.

Reviewing the view `views.backend.profile.partials.form.social-networks.blade.php` input url is not have value.

Set `$data['url']` for working.

[2017-01-06 15:57] austintoddj commented on #54
@CesaRamirez The latest release(v3.0.2) is out and should solve this issue. Feel free to close it out when you see it work! 👍

Run `php artisan canvas:update` from a Terminal in your project root to pull in the change.

[2017-01-06 16:09] CesaRamirez commented on #54
Great, but I don't see the change on last commit

[2017-01-06 16:10] austintoddj commented on #54
@CesaRamirez My mistake, apologies. Made a couple other changes and thought I had put this one in as well. Doing it right now.

[2017-01-06 16:14] austintoddj commented on #54
Ok, `v3.0.3` will address your bug. Give it a try!

[2017-01-06 16:20] CesaRamirez commented on #54
Yeah! It's Working :+1:

[2017-01-06 16:20] #54 closed

[2017-01-08 05:26] serrexlabs opened #55 "Category feature"
@austintoddj Do you have any idea about how post categories should structured? Something like tags in canvas or something like wordpress categories.

[2017-01-09 12:40] austintoddj commented on #55
@serrexlabs Out of curiosity, what would you like to see categories do that tags do not already do?

[2017-01-10 02:34] adelowo opened #56 "Why are passwords shown when running the install command ?"
https://github.com/cnvs/easel/blob/737062061fb3f329c4ded6d51495fc857fefe3d3/src/Console/Commands/Install.php#L104

Shouldn't that be making use of the `secret` method (https://laravel.com/docs/5.3/artisan#prompting-for-input) instead ?

[2017-01-10 09:59] talvbansal commented on #56
@adelowo i totally agree! I cant see why anyone would disagree with this suggestion so I'll make this change accordingly

[2017-01-10 11:55] adelowo commented on #56
Cool.. Should close this

[2017-01-10 12:03] #56 closed

[2017-01-13 15:30] jwhulette opened #62 "Error: file_put_contents(): Exclusive locks are not supported for this stream when running canvas:install"
I'm installing Canvas in a Vagrant box. I've had this issue before but I solved it by setting the cache and sessions directory to /tmp and it works on the 5 lavarel projects I have. Any idea why this is occurring?

[2017-01-13 15:36] jwhulette commented on #62
The error is coming from this command, canvas:publish:assets

[2017-01-13 15:37] austintoddj commented on #62
@jwhulette What are the permissions set on your `storage` directory?

Per Laravel:

[code]

[2017-01-13 15:39] jwhulette commented on #62
Storage directory is 777

[2017-01-13 17:00] jwhulette commented on #62
Ok I fixed this issue by modifying vendor/league/flysystem/src/Adapter/Local.php $writeFlags = LOCK_EX to LOCK_SH which allowed for the asset install.

[2017-01-13 17:00] #62 closed

[2017-01-13 17:12] jwhulette opened #63 "Install Error: SQLSTATE[HY000]: General error: 10 disk I/O error"
I am installing in a Freebsd vagrant box with MySql. Everything is installed correctly. I create the database but I'm getting the error when trying to run the migrations. It appears the error is related to  SQLite but i'm not using that. I have several other vagrant boxes set up the same way and have a no issues running migrations.

[2017-01-13 19:07] jwhulette commented on #63
If I edit line 86 in vendor/cnvs/easel/src/Console/Commands/Install.php to say seed equals false, then it creates the tables, if I set it to true then I get the error.

[2017-01-15 04:38] austintoddj commented on #63
@jwhulette Could you post a screenshot of what the error is you are receiving?

[2017-01-15 04:40] austintoddj opened #64 "Forgot password email is broken"
The `Forgot Password` feature of the login page sends out an email correctly, but if you click on the `Reset Password` button in the email you are dropped on a 404 page. Assuming this has something to do with the massive routes change we made a couple weeks ago. Maybe you could take a look at this @reliq?

[2017-01-16 12:22] serrexlabs commented on #55
Your point is correct. Tag does everything I needed.

[2017-01-16 12:22] #55 closed

[2017-01-16 13:09] jwhulette commented on #63
![1__default__vagrant__and_install_error__sqlstate_hy000___general_error__10_disk_i_o_error_ _issue__63_ _cnvs_easel](https://cloud.githubusercontent.com/assets/4930051/21984115/5f02c3ae-dbc2-11e6-9ff3-be18e0fb372a.png)

Just to clarify I created a new Canvas application by following, https://cnvs.readme.io/docs and I'm not sure if it makes a diffence but when visiting my page, I get a 404 route n

[2017-01-16 15:53] jwhulette commented on #63
Ok, I figured out the problem. SQLite, for TNTSearch, does not like the vagrant shared folder using NFS. So I added,         'storage'  => env('SCOUT_STORAGEPATH', storage_path()), to the scout.php file and change the storage location in my .env file.

[2017-01-16 16:35] austintoddj commented on #63
Great work @jwhulette. So that fixed the issue?

[2017-01-16 16:55] jwhulette commented on #63
@austintoddj Yes, changing the storage path work. I just created a folder in my Apache directory and it put the SQLite files in it. The only other change was to CHMOD 777 on the files to they could be read. I love vagrant, but sometimes it throws me for a loop. :)

[2017-01-16 18:33] austintoddj commented on #63
Awesome thanks for documenting what you did here @jwhulette. It'll be helpful for anyone else who runs into this in the future. Feel free to close it out once you deem it resolved.

[2017-01-16 18:35] #63 closed

[2017-01-16 20:40] austintoddj opened #67 "Messages not linked correctly"
With commit: 4bae15c134fc5a75c0283921ca543d96bde2498f, the messages have not been brought over from Canvas to Easel in a working state. This has affected most of the notifications.

Let me know if you need any more direction on it, here is an example of the bug:

<img width="358" alt="screen shot 2017-01-16 at 2 34 53 pm" src="https://cloud.githubusercontent.com/assets/8037011/21998310/a6b78ce8-db

[2017-01-16 23:35] reliq commented on #67
I saw that. Not sure where that's coming from. Will have to take another look...

[2017-01-18 03:37] reliq commented on #67
Should be fixed. @austintoddj is this still happening?

[2017-01-18 04:10] austintoddj commented on #67
I'll check this out shortly @reliq. Just taking a look at some TravisCI bugs quick.

[2017-01-19 13:05] austintoddj commented on #67
Looks good @reliq 👍, thanks for taking a look at it!

[2017-01-19 13:05] #67 closed

[2017-01-19 15:25] austintoddj commented on #64
@reliq The fix you put in place works great, the password can be reset just fine now.

However, the email template for some reason is pulling in the default that ships with Laravel. See below:

<img width="1154" alt="screen shot 2017-01-19 at 9 23 37 am" src="https://cloud.githubusercontent.com/assets/8037011/22112577/1324fec0-de29-11e6-87b6-fe0284ea137e.png">

The customized template is found in

[2017-01-20 21:17] austintoddj commented on #64
Been banging my head against a wall on this one, maybe you have a suggestion @reliq?

The file in Laravel's core that I want to override a method in is `/vendor/laravel/framework/src/Illuminate/Notifications/Messages/MailMessage.php`.

If there was a way that we could override the following variable `$view`:

[code]

then we could reference our own template in `cnvs/easel/resources/views/vendor/no

[2017-01-21 03:38] reliq commented on #64
No. We shouldn't edit Laravel's `MailMessage.php`. I actually think we should leave the email/notification views alone since they actually belong to Laravel's notification "package". Let the end-user do whatever they want with that.

I think we can get rid of the `resources/views/vendor` folder altogether.

[2017-01-23 12:59] #64 closed

[2017-01-25 02:05] austintoddj opened #76 "Profile password update throws 404 Error"
On the Profile Privacy page, saving a new password throws a 404 error. This does not happen when updating another users' password as an Admin, only when updating it on your own profile.

Most likely has to do with the recent named route changes.

[2017-01-25 03:19] austintoddj commented on #76
@reliq Line 1 of `resources/views/backend/profile/partials/form/password.blade.php` shouldn't post to `url('auth/password')`, but I can't find the route that we used to use before naming everything. Any thoughts on this?

[2017-01-26 20:17] #76 closed

[2017-02-08 13:28] angelfreedomv opened #80 "How to solve this sqlstate error?"
echodeMacBook-Pro:blog echopan$ sudo php artisan canvas:install
Password:

Welcome to the Canvas Install Wizard! You'll be up and running in no time...

An unexpected error occurred. Installation could not continue.
✘ SQLSTATE[HY000] [2002] No such file or directory

Migrations were rolled back. Please run the installer again.

If this error persists please consult https://github.com/cnvs/easel/is

[2017-02-08 13:31] angelfreedomv commented on #80
My environment:
Mac OS 10.12.3
php -v
PHP 5.6.28 (cli) (built: Dec  6 2016 12:38:54)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies

mysql 5.5.42

[2017-02-08 13:33] marktopper commented on #80
http://stackoverflow.com/a/20733001/2807030

[2017-02-23 08:41] mhuijser opened #88 "Backend-login is still querying non-existing 'users' table ?"
Hi all,

Coming from version 3.0. and moving to 3.2, I ran into this problem when loggin' into the Canvas backend after the update-process:

[code]

The frontend however, works just fine.

It looks like canvas is still (or again?) querying the 'users' table, which in an earlyer upgrade was renamed to 'canvas_users'. I guess that was a few months ago when i upgraded to version 3.0.x

Anyone ran int

[2017-02-23 11:32] mhuijser commented on #88
Never mind. Just waited a few hours, and the problem just vanishes. Must have been a cache of some kind.

Keep up the good work !

Mark

[2017-02-23 11:32] #88 closed

[2017-02-23 16:24] austintoddj commented on #80
@angelfreedomv Did the link above give you any further clarity on the issue?

[2017-02-24 14:05] austintoddj opened #90 "Call to a member function getVersion() on null"
Quick thoughts on this @reliq?

Not sure how anything might have disrupted this recently, but running `php artisan canvas:update` yields the following error:

<img width="877" alt="60174a3-screenshot_2017-02-24_16 40 52" src="https://cloud.githubusercontent.com/assets/8037011/23306122/9adb3f8c-fa67-11e6-8816-e7002d86a96f.png">

The application is actually updating properly, as far as I can see. Th

[2017-02-24 15:48] austintoddj commented on #90
Fixed with https://github.com/cnvs/easel/releases/tag/v3.2.4

[2017-02-24 15:48] #90 closed

[2017-02-25 02:26] ruchern commented on #80
Try this: `mysqld`

[2017-02-25 04:35] RDelorier commented on #80
I've gotten that before when I had the wrong database name in .env

[2017-02-26 18:31] richdynamix opened #93 "Unable to install - could not find driver"
When running `php artisan canvas:install` I get the following -

[code]

If I run it again, it asks me to add admin user details but then immediately shows the same error - `could not find driver`. There is nothing in the logs to investigate further.

[2017-02-26 19:28] richdynamix commented on #93
Debugging seems to point me to when the DB is trying to seed or the user is created. The user is created in the DB though. Will update when I have more info.

[2017-02-27 12:54] austintoddj commented on #93
@richdynamix Thanks for checking out Canvas! I'll take a look at this today and see if I can find a solution for you.

[2017-03-01 14:39] austintoddj commented on #93
@richdynamix What type of DB are you installing Canvas on?

[2017-03-01 14:49] richdynamix commented on #93
Hi @austintoddj I am installing this on a MySQL 5.7 DB. My project setup is with Docker.

_loving the new webiste btw_ ;)

[2017-03-01 16:23] austintoddj commented on #93
Thanks @richdynamix, glad you like the new site! Haven't actually done my own installations on Docker, so I don't have a ton of familiarity with it. I will keep digging though and see what I come up with.

[2017-03-05 02:26] sebasspf opened #97 "Support for Laravel 5.4"
Hi, im trying to **add Canvas to a existent application in Laravel 5.4**. All went well, but when i visit the main page, an **error** is showing:

[code]
¿Is this related to the Laravel Version? ¿Any way to manually fix this? Thanks!!

[2017-03-07 19:56] austintoddj commented on #97
Thanks for checking out Canvas @sebasspf! Right now, Canvas only supports Laravel 5.3.*. There are some hurdles that currently hold us back from upgrading. We intend to support 5.4 as soon as possible though!

[2017-03-09 16:13] balkalabs opened #102 "Error NOT NULL constraint upon canvas installation"
To avoid installation error like
[code]
when doing the command
[code]

Please upgrade \src\Console\Commands\CanvasCommand createUser from :
[code]
to
[code]

[2017-03-09 16:23] austintoddj commented on #102
Thanks for sending this over @balkalabs.

Looks good by me, @reliq?

[2017-03-10 01:36] reliq commented on #102
@austintoddj will have to take some time to iron out this issue properly,  this fix could cause issues on some systems

[2017-03-11 18:29] richdynamix commented on #93
Hey @austintoddj Did you manage find any resolution to this issue? Really keen to build my next blog with Canvas 😁

[2017-03-13 11:44] austintoddj commented on #93
@richdynamix Did the error you encountered happen using `v3.2.10`?

[2017-03-15 06:33] unrivaledcreations commented on #93
Ditto this issue; although my configuration is slightly different.  I'm running a VirtualBox instance of an Ubuntu PHP 7.1 box on a Mac, provisioned with Vagrant via Puphpet.  The source files in this setup are on the Mac's native filesystem, mapped to a folder within the virtualized guest OS and configured as the www root in its nginx config.  Because of this arrangement, the `composer create-pro

[2017-03-15 11:56] austintoddj commented on #93
@unrivaledcreations First off, thanks for the extremely detailed and well-worded response, it's a huge help. Hopefully I can answer what questions you have and we can get to the bottom of this.

As for what you're seeing in the database:
* A fresh installation will yield just enough blog data to get you started and understand what's going on
* The migrations table holds records of all the database

[2017-03-15 16:54] unrivaledcreations commented on #93
SQLite and Zip were both missing.  Mbstring would normally be missing from a stock PuPHPet configuration, too, except I'd already added that to make phpMyAdmin work.

For others using PuPHPet to manage your dev environment, edit your `config.yaml` file and add these lines:

- Under php:modules:php, add `- mbstring` and `- sqlite`
- Under php:modules:pecl, add `- zip`

@richdynamix, if you're using

[2017-03-15 17:33] austintoddj commented on #93
Thanks for the update @unrivaledcreations. I'll definitely look into adding a check into the `canvas:install` process. 👍

[2017-03-20 23:03] isbkch opened #109 "new user registrations"
Are there plans for opening the blog to multiple user registration and posting in the future ?

[2017-03-21 12:03] austintoddj commented on #109
As of right now, new users are only added through the backend by an existing Administrator, is that what you're referring to? Or are you wondering if user registration would be made public?

[2017-03-21 14:14] isbkch commented on #109
I'm more concerned opened to the public so people can write stories as well

[2017-03-21 17:48] austintoddj commented on #109
Well, it was designed to be a blog managed by an Admin or a few admins, and users can be added with lower levels of privileges. If there was a public registration, they would be able to jump into your blog and change/modify anything you've written. I don't believe the majority of users would want that as a feature on their blog. But it's an interesting concept nonetheless.

[2017-03-22 10:17] barnc commented on #97
Any idea of a timeframe for 5.4 support? Wondering whether to wait it out or use a different blog solution.

[2017-03-22 11:52] austintoddj commented on #97
@barnc Fully intend to add support for Laravel 5.4. Currently, the hold up is with `proengsoft/laravel-jsvalidation`. They have an open pull request at https://github.com/proengsoft/laravel-jsvalidation/pull/224 that provides support for Laravel 5.4. Until I see that merged and closed, we can't move forward in upgrading Canvas, unless we choose to go with another validator.

So the answer is yes,

[2017-03-23 10:56] barnc commented on #97
Great, makes sense. Thanks for the info @austintoddj

[2017-03-29 15:13] DanielFurmanov opened #115 "Installation on Laravel 5.2"
I was trying to install `easel` and had some error doing `composer require`:

[code]

As I understand this, easel is not compatible with Laravel version less than 5.3, because of the absence of [laravel/scout](https://github.com/laravel/scout) and dependencies in those versions.

_Is there a way to install easel on 5.2? And if not, why don't add a disclaimer about this to docs?_

[2017-04-02 14:32] austintoddj commented on #115
@DanielFurmanov That's a great point, adding what version of Laravel Canvas can run on in the docs. Let me try it out and see what works/doesn't work and then we can get it documented. Thanks for the heads up!

[2017-04-04 13:06] DanielFurmanov opened #119 "ReflectionException: Class checkForMaintenanceMode does not exist"
I am updated from Laravel 5.2 to Laravel 5.4 and installed Canvas.

**TL;DR** Laravel could not instantiate Reflection using blog.php settings (middleware part of them)

So here is a screenshot of a problem: ![reflection error](http://dl4.joxi.net/drive/2017/04/04/0018/2806/1227510/10/32fee954a9.jpg)

That happens when I am trying to go to `/blog` canvas registered route.
The troubling line is [co

[2017-04-10 10:54] kyushiro commented on #93
I am having the exact same issue while trying to install. Everything goes smoothly, i added the db credentials to the .env file, and then do`php artisan canvas:install`
and of course i get the same error again. For the record i am doing this on a digitalocean 1gb ubuntu 16.04 droplet, and php modules list seems ok except maybe that i have "sqlite2" rather than simply "sqlite" installed. could this

[2017-04-21 14:55] austintoddj opened #121 "[EASY] Update link for the Changelog"
**"Why not change it yourself?"**

I can only assume that some out there will ask why I bothered to create an issue out of such a small change, and why not just change it myself in 2 seconds?

The answer is simple: *I want to get as many developers out there as possible to begin contributing to open source projects*, even if it's something as trivial as this.

----

[Line 23](https://github.com/cn

[2017-04-30 19:13] austintoddj commented on #121
Thanks for taking care of this @MikkyX!

[2017-04-30 19:13] #121 closed

[2017-04-30 19:13] austintoddj commented on #119
We fully intend to add support for Laravel 5.4. Currently, the hold up is with `proengsoft/laravel-jsvalidation`. They have an open pull request at [proengsoft/laravel-jsvalidation#224](https://github.com/proengsoft/laravel-jsvalidation/pull/224)that provides support for Laravel 5.4. Until I see that merged and closed, we can't move forward in upgrading Canvas, unless we choose to go with another

[2017-05-08 15:42] austintoddj opened #127 "[EASY] Update link from GitHub to Twitter"
**"Why not change it yourself?"**

I can only assume that some out there will ask why I bothered to create an issue out of such a small change, and why not just change it myself in 2 seconds?

The answer is simple: *I want to get as many developers out there as possible to begin contributing to open source projects*, even if it's something as trivial as this.

----

Line 189 of `src/Console/Comman

[2017-05-09 01:54] #109 closed

[2017-05-09 01:54] austintoddj commented on #80
@angelfreedomv Has the latest update to Easel fixed this issue for you?

[2017-05-09 01:54] #97 closed

[2017-05-09 01:55] #93 closed

[2017-05-09 03:00] ruchern commented on #80
Your MySQL might not be started and perhaps that error thrown is because the application is unable to find `mysql.sock`.

[2017-05-09 18:34] #80 closed

[2017-05-15 13:21] austintoddj opened #133 "[EASY] Modify changelog link on update command"
**"Why not change it yourself?"**

I can only assume that some out there will ask why I bothered to create an issue out of such a small change, and why not just change it myself in 2 seconds?

The answer is simple: *I want to get as many developers out there as possible to begin contributing to open source projects*, even if it's something as trivial as this.

----

Line 115 of `src/Console/Comman

[2017-05-15 15:20] austintoddj commented on #115
@DanielFurmanov Noted in the official docs. Thanks!

https://cnvs.readme.io/docs/integrating-canvas-in-an-existing-project

[2017-05-15 15:20] #115 closed

[2017-05-15 15:31] DanielFurmanov commented on #102
@austintoddj I believe this was fixed in https://github.com/cnvs/easel/pull/117

[2017-05-15 15:35] austintoddj commented on #102
@DanielFurmanov Great thanks for giving the heads up. @balkalabs Can you confirm that this was fixed in #117 please?

[2017-05-22 20:58] DanielFurmanov commented on #127
@austintoddj Hi, please close fixed issues. I just spend couple of minutes staring at the line which you asked to change just to see that it is changed. Then I went back to this issue **and scrolled page down** just to see that it was already fixed. Not cool :)

[2017-05-23 12:26] austintoddj commented on #127
@DanielFurmanov FYI the little Information symbol here tells you that the code has been fixed, but the issue closes itself automatically after the commit has been merged into the `master` branch. It's currently only in `develop` because the next release isn't ready yet.

I understand your frustration, I'll go ahead and manually close the ones I can. But just for your reference, issues close themse

[2017-05-23 12:26] #127 closed

[2017-05-23 12:27] #133 closed

[2017-05-23 13:08] DanielFurmanov commented on #127
@austintoddj I meant no offence. Thats the point - the issue description is long enough for me to not see this area without scrolling.

Didn't know about issues auto-closing, also forgot about two dev and master branches approach, sorry!

If you will have any other issue like that - mention me, please. Would like to take part in the project.

[2017-05-26 19:32] austintoddj commented on #127
Will do @DanielFurmanov, I'll ping you of any more like these 👍

[2017-06-07 08:23] lchhieu opened #136 "show image in media"
It is inconvenient for me to click on picture to see it. You can show it if it's an image

[2017-06-07 11:11] khaledelmahdi commented on #119
Hi,

The pull request has been merged now.

Can anyone help please?

Thanks.

[2017-06-07 12:37] austintoddj commented on #136
Thanks for checking out Canvas @lchhieu! Could you be a bit more descriptive on what this issue is about? Perhaps a screenshot or a bit more information?

[2017-06-07 12:40] austintoddj commented on #119
Just saw that PR get merged in. Looks like there may still be [an outstanding issue](https://github.com/proengsoft/laravel-jsvalidation/pull/224), but I'm keeping a close eye on this and will move this forward as soon as I see a solid resolution there.

[2017-06-07 14:05] lchhieu commented on #136
![image](https://user-images.githubusercontent.com/11382616/26882354-5e56c3ac-4bc4-11e7-9497-909522df48a2.png)
will be easy to see if the image is displayed.  i don't known how to edit your media and run gulp to render new vendor.js

[2017-06-07 15:13] austintoddj commented on #136
Hm looks like you may be talking about the [Media Manager](https://github.com/talvbansal/media-manager). @talvbansal maybe you could weigh in on this question?

[2017-06-07 15:21] lchhieu commented on #136
You seem to have included all files js as a vendor.js file so I can not edit it.

[2017-06-07 19:37] talvbansal commented on #136
So my biggest concern with doing this is the following:  Say within a folder you had 100 images each at approximately 500kb each. You'd be downloading 50mb of data just to view a folder.

The obvious solution would be generate thumbnails, the complexity comes from managing the thumbnails when items are moved or deleted and what about none images that don't have thumbnails, we'd need code that hand

[2017-06-09 12:39] austintoddj commented on #136
Thanks for jumping in with that @talvbansal. @lchhieu I'm going to close this and let any future discussion for it happen over on the [Media Manager](https://github.com/talvbansal/media-manager) repo since it is specific to it's functionality.

Any more suggestions or input you have on Canvas is greatly appreciated!

[2017-06-09 12:39] #136 closed

[2017-06-16 18:18] austintoddj opened #139 "Media Manager Upgrade Bug"
@talvbansal Just merged in the PR that updates the media manager, but if you check out the `develop` branch right now, do you get the same error that I do?

<img width="1210" alt="screen shot 2017-06-16 at 1 16 34 pm" src="https://user-images.githubusercontent.com/8037011/27239383-4c877a1c-5296-11e7-87a3-fd9ff2a9a51f.png">

## UPDATE:
Currently, when installing the latest release of Canvas, not ev

[2017-06-20 11:00] austintoddj commented on #139
Any thought on this @talvbansal?

[2017-06-21 07:51] talvbansal commented on #139
Sorry for the delay I've just only just got around to looking at this.

The 404 request we're now seeing is coming from the media-manager making requests to this endpoint:

`/admin/browser/index?path=/`

Looking though the output of `php artisan route:list` I can see that the routes for canvas are being prefixed with admin again:

[code]
The short fix is to take the media-manager out of the route:

[2017-06-21 13:08] austintoddj commented on #139
Awesome thanks for the update @talvbansal. Hope you get better soon!

[2017-06-22 02:21] austintoddj commented on #119
@DanielFurmanov @khaledelmahdi We've taken a different route now and removed the JSValidation package all together. As soon as I iron out a couple more issues, I will begin the upgrade to L5.4.

[2017-06-28 11:08] austintoddj commented on #139
@talvbansal Everything looks good on my end, closing this out. 👍

[2017-06-28 11:08] #139 closed

[2017-06-30 18:47] anish137i commented on #80
Still error showing on XAMPP Environment in Mac but changing localhost to 127.0.0.1 suggested in  http://stackoverflow.com/a/20733001/2807030 is solve problem.

[2017-07-07 20:15] talvbansal commented on #47
Looks like this could be continued on now that we have at  least configurable prefixes for the media-manager

[2017-07-10 19:15] #102 closed

[2017-07-20 17:36] robertem128 opened #144 "Roles fillable?"
This is more of a question then anything else but should 'role' in the User model be filliable? I was under the impression that this could pose a security risk.

[2017-08-07 13:42] austintoddj commented on #144
@robertem128 Well, the role can be updated by an Admin User in the application, so the model property needs to be fillable. Are you thinking of something I'm not?

[2017-08-10 21:24] robertem128 commented on #144
Sorry, didn't see your reply.

I'm by no means an expert but thought it should be guarded and assigned manually (i.e. not using fill) or done through a model observer.

Again, I could be wrong, but couldn't a user modify the request and change their role to Admin as you are using the fill command to update?

[2017-08-11 01:48] austintoddj commented on #144
Hm, I perhaps it might be possible. I'd have to see the exact workaround however, because I feel like the application would protect against that. If you're able to do that, let me know.

[2017-08-15 12:47] austintoddj commented on #144
Closing this out because I think it's a good thing to note, but no action needs to be done at this time.

[2017-08-15 12:47] #144 closed

[2017-08-17 19:12] austintoddj commented on #119
@DanielFurmanov Found the bug here. Looks like a somewhat obscure change was made [here](https://laravel.com/docs/5.4/upgrade) pertaining to the `middleware` method. After updating the Service Provider ([b8328bc](https://github.com/cnvs/easel/commit/b8328bc6331d4ccc3bfb6110a855bf1e48f78221)), the middleware loads properly.

Continuing on with the Laravel 5.4 upgrade.

[2017-08-21 16:57] azorpax opened #147 "Route [canvas.home] not defined."
i have just followed the instructions from https://cnvs.readme.io/v3.2/docs/integrating-canvas-in-an-existing-project

i have no idea whats wrong.
when i go to /admin. i am redirected to my main login page (not from canvas login page). i tried /auth/login then i get error
"Session store not set on request. (caused by the {{ old('email') }}). i  have removed it and then i get new error  Route [canv

[2017-08-21 19:18] austintoddj commented on #147
Thoughts on this @reliq?

[2017-08-21 22:29] reliq commented on #147
@austintoddj , @azorpax this sounds like there may be another route defined at `/admin` within the application.

See https://cnvs.readme.io/v3.2/docs/integrating-canvas-in-an-existing-project#section-routing

Ensure that you have no conflicting routes. Use `php artisan route:list` from the terminal to see what routes are defined.

[2017-08-22 00:39] azorpax commented on #147
No conflicting route for /admin. I even changed the admin prefix to /canvas. Still the same behavior,it will redirect me to my main login page.

I also checked the route:list. I can't find the canvas.home

[2017-08-22 02:18] reliq commented on #147
Hmm, I see.

You may try re-defining the `canvas.home` route at the end of your application's `routes/web.php`. Similar to:
[code]
**or**

You may also try changing the blog path in canvas' config file.

eg.
[code]

---
One of these methods should at least remove the `canvas.home` error.

Let us know if nothing changes.

Cheers :beers:

[2017-08-22 14:27] azorpax commented on #147
I added the Route::get('/some-address', 'Canvas\Http\Controllers\Frontend\BlogController@index')->name('canvas.home'); to my main router and then i tried to open /auth/login
and its fine, but when i add back the {{ old('email') }} to the email field. i get this error "Session store not set on request."

i also have this 'admin_prefix' => 'canvas',
when I access the /canvas I am redirected to the m

[2017-08-22 14:42] azorpax commented on #147
I have no problem with /blog or /myblog as your suggestion. I can view the page of articles.
 what I'm having trouble is accessing the backend (admin side)

[2017-08-22 16:08] azorpax commented on #147
i tried to create a new laravel 5.3 project. fresh install.  just to check if its working. i followed the instructions from https://cnvs.readme.io/v3.4/docs/integrating-canvas-in-an-existing-project but i get the same error from my previous project.

[2017-08-27 06:17] azorpax commented on #147
up

[2017-08-29 15:40] reliq commented on #147
I'm sorry for the delayed response @azorpax.

We will have to look into this routing issue in further detail. Usually the `Session store not set on request.` error occurs when one or more of your interacting routes are not defined within the `web` middleware.

The responses to this question may shed some light: https://stackoverflow.com/questions/34449770/laravel-session-store-not-set-on-request

[2017-09-09 14:11] Reuben-jones opened #149 "An unexpected error occurred. Installation could not continue. [✘] SQLSTATE[HY000] [2002] No such file or directory (SQL: select * from information_schema.tables where table_schema = macauliffe and table_name = migrations)"
An unexpected error occurred. Installation could not continue.
[✘] SQLSTATE[HY000] [2002] No such file or directory (SQL: select * from information_schema.tables where table_schema = macauliffe and table_name = migrations)

This issue happens when I run the command php artisan canvas:install

[2017-09-12 16:08] Reuben-jones commented on #149
I fixed it I had broken my database

Reuben Jones
07544350827 | 102 Thirlmere Gardens | reubendmjones@gmail.com

On 12 Sep 2017, 16:59 +0100, Todd Austin <notifications@github.com>, wrote:

[2017-09-12 16:33] #149 closed

[2017-10-05 01:40] austintoddj opened #152 "Laravel Mix"
@talvbansal Just pulled in the changes you made, but am running into an issue with the manifest file now being found. If you pull the `l5.4` branch of Easel into Canvas, you'll get this error. Wanna take another PR for it? Also, are all the fonts/assets stuff supposed to be in the root directory like they are?

<img width="1068" alt="screen shot 2017-10-04 at 8 38 21 pm" src="https://user-images.g

[2017-10-06 03:04] talvbansal commented on #152
Ahh ive just had a thought about this - we've removed the versioning in this however we're still using the mix helper.

I'll hopefully be able to look into this tomorrow

[2017-10-10 16:44] talvbansal commented on #152
Can we close this now?

[2017-10-10 16:52] #152 closed

[2017-10-18 21:08] glennmcewan opened #157 "Reduce Query Count from Settings"
Calls to Settings options cause a query per _each_ item requested.

On an average page, there are 10+ queries just to fetch data from the Settings table:
[code]

As the Settings table is currently relative small (< 20 lines), it may be beneficial to grab _all_ rows, and store them in an array in the Settings model as a form of caching.

Long term, this should possibly be stored in Redis (but that

[2017-10-19 19:41] glennmcewan commented on #157
Closed by #158.

[2017-10-19 19:41] #157 closed

[2017-10-20 15:14] #147 closed

[2017-11-05 11:53] shamatov commented on #97
Hi @austintoddj,

Are there any updates regarding Laravel 5.4 support?

Thanks!

[2017-11-23 01:53] RockaFela opened #161 "Issue with Installing Canva"
I get the response below from my terminal whilst trying to install the canvas application, I ahve made al necesary adjustments but issues persists

An unexpected error occurred. Installation could not continue. command not found
ied for user 'root'@'localhost' (using password: NO) (SQL: select * from information_schema.tables where table_schema = canvas and table_name = migrations)

[2017-11-24 12:26] bvbunnik opened #162 "Error install Canvas version 3.4.4: count(): Parameter must be an array or an object that implements Countable"
Whilst installing Canvas version 3.4.4 (latest at the time of writing) I encounter an error:
[code]
![capture](https://user-images.githubusercontent.com/443751/33210471-44f18928-d112-11e7-9415-19b4b26e4c32.PNG)

Tried to run ```php artisan canvas install``` again to no avail. Also completely removing the whole project (directory) and database and starting afresh did not solve this issue...

Anyone

[2017-11-24 12:36] glennmcewan commented on #162
Are you using PHP 7.2? If so, that will be the issue. PHP 7.2 introduced a kind of breaking change in that calling `count()` on a null yields an error, unlike in previous versions where it would return 0.

If you're on 7.2 let me know and I'll look into fixing this over the weekend.

[2017-11-24 12:50] bvbunnik commented on #162
Thanks for your answer!
Indeed I'm using PHP 7.2. I will change versions for now and see if that solves the issue, but indeed the issue should probably be fixed for future versions!

[2017-11-24 22:39] glennmcewan commented on #162
Glad that fixed it. I've done a bit of testing locally - the root cause is actually in Laravel itself (`vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php:1231`).

Canvas currently uses Laravel 5.3 which does not support PHP 7.2. Laravel 5.5 _seems_ to.

Best case _for now_ is to use this project on 7.1 as the highest dependency, as Laravel 5.3 and the latest Canvas release both

[2017-12-03 02:56] austintoddj commented on #162
Thanks for jumping in @glennmcewan.

[2017-12-03 02:56] #162 closed

[2017-12-03 02:56] austintoddj commented on #161
@RockaFela Is your database created and your credentials stored correctly in the `.env` file?

[2017-12-29 21:20] #119 closed

[2017-12-29 21:23] #47 closed

[2017-12-29 22:14] #161 closed

[2018-01-20 14:27] itzJustKranker commented on #162
is there a fix as of right now besides downgrading php versions or will this issue be addressed in future versions of canvas.....?

[2018-02-12 12:22] gohlx opened #167 "composer require cnvs/easel not installing the latest v3.4.3"
Step:
composer require cnvs/easel

Result:
Installing cnvs/easel (v3.4.2): Downloading (100%)

Expected Result:
Installing latest v3.4.3

I notice the latest version is tagged as vv3.4.3
Not sure is it due to tagging error?

[2018-02-13 15:14] reliq commented on #167
Hi @gohlx,

Thanks for reporting this. This issue should be resolved shortly.

Please try again later and confirm.

🍻

[2018-02-26 04:20] #167 closed

[2018-03-17 20:07] jdunk commented on #162
laravel 5.3 is quite old now. Seem canvas did not upgrade when 5.4 came around, nor 5.5, nor 5.6. Does canvas have any plans to stay current with its main dependency?

[2018-04-11 17:34] protected22 opened #168 "can't install using php artisan canvas:install"
I can't install using php artisan canvas:install

my CMD on windows 7 gives this error:

SQLSTATE{2002} Can't connect because the pc blocks the conection.
<SQL: select * from information_schema.tables where table_schema = canvas and table_name = migrations)

[2018-04-15 10:59] jgarcia3327 commented on #168
change db host from localhost to 127.0.0.1, this solved my issue...

[2018-05-04 07:12] hpez opened #169 "Can't install due to wrong migrations"
### Description:
`Installation could not continue.
[✘] SQLSTATE[42S22]: Column not found: 1054 Unknown column 'role' in 'field list' (SQL: insert into `canvas_users``

### Steps to Reproduce:
php artisan canvas:install

## Supporting Information
When I run the command I receive the sql error, and the table doesn't include column role.

[2018-05-16 11:25] 1295 commented on #162
Trying to use Canvas now, Same error.
Is downgrading my php version the only solution?

[2018-05-19 08:47] 353249573 commented on #169
I found the database encoding to select utf8-general-ci in the creation of a database of questions 'role' field can not be found will not appear

[2018-06-01 11:37] mrdokumcu opened #171 "Access denied when running artisan command"
### Description: credentials match but access denied
the error message is:

SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost' (using password: YES) (SQL: select * from information_schema.tables where table_schema = canvas and table_name = migrations)

## Supporting Information: MAMP and .env file content

**MAMP credentials:**
$cfg['Servers'][$i]['user'] = 'root';
$cfg['Servers'][$i

[2018-06-13 14:02] shuva40raj commented on #169
I am also having this problem. How to solve it?

[2018-10-17 11:19] jdunk commented on #162
Last commit was > 10 months ago. That should tell is all we need to know (Canvas is dead). I'm out.

[2018-10-17 18:34] talvbansal commented on #162
@jdunk @jjdelarosa - I can try to take a look at this in the next few days I'm just travelling at the moment and will be back home next week.

[2018-10-18 16:40] jjdelarosa commented on #169
Go to my respoted I fixed all the problema. https://github.com/jjdelarosa/canvasfixed

[2018-10-18 16:41] jjdelarosa commented on #169
Go to my repo https://github.com/jjdelarosa/canvasfixed

[2018-10-18 16:41] jjdelarosa commented on #168
Go to my repo https://github.com/jjdelarosa/canvasfixed

[2018-10-21 00:18] #168 closed